/**
 * Media Query Demo (note the commented rules)
 **/

* {
  box-sizing: border-box;
}

/*
  The background color will be #ccc
  at browser widths above 768px
*/
body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-color: #ccc;
}

/*
  The width of the wrapper will be 1024px
  at browser widths above 768px
*/
.wrapper {
  /* Box-model */
  width: 1024px;

  /* Positioning */
  margin: 40px auto;
}

#main-content,
#sidebar {
  /* Box-model */
  width: 500px;
  padding: 30px;
}

#main-content {
  /* Positioning */
  float: left;

  /* Visual */
  background: #fff;
}

#sidebar {
  /* Positioning */
  float: right;

  /* Visual */
  background: #eee;
}

/*
  Goal is to add margins and padding for the boxes when page hits 768px
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
    width: 100%;
    background-color: #333;
    overflow: hidden auto;
  }
#sidebar,
#main-content {
   width: 100%;
   margin-top: 2%;
  }

  /* The wrapper's width will be 600px */
  .wrapper {
    padding: 3%;
    width: 100%;
  }
}
