
/*Sudent Bio CSS*/
img {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    display: block;
    color: white;
    background-color: black;
    margin: 1px;

}
body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 10;
    background-color: aquamarine;
}
#main-bio {
    display: inline;
    float: left;
    margin: 1;
}
#contact-info {
    display: inline;
    float: right;
}
.container {
    display: inline;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}